.container {
    width:710px;
    height:225px;
    max-width:90%;
}

h1 {
    text-align:left;
    font-family:"HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:600;
    font-size:30px;
    color:#0096E0;
    line-height:50px;
    padding:0;
    margin:0;
}

.oneblue {
    color:#007DC7;
}

.twoblue {
    color:#0063AD;
}

a {
    color:inherit;
    font-style:normal;
    text-decoration:none;
    transition:500ms ease-in;
    -webkit-transition:500ms ease-in;
    -o-transition:500ms ease-in;
    -moz-transition:500ms ease-in;
}

a:hover {
    color:#007DC7;
}

img {
    margin-bottom:15px;
}

.email {
  color: #ccc;
}
