.container {
  width:913px;
  height:366px; 
  max-width:90%;
}

h1 {
  text-align:left;
  font-family:'Helvetica Neue', sans-serif;
  font-weight:600;
  font-size:25px;
  color:#00a2f4;
  line-height:50px;
  padding-bottom:0;
  padding-top:20px;
  margin:0;
}
span.oneblue {
  color:#0096E0;
}

span.twoblue {
  color:#007AB8;
}

a {
  border-bottom:4px solid #ccc;
  color:inherit;
	font-style:normal;
	text-decoration:none;
  transition: 500ms ease-in;
  -webkit-transition: 500ms ease-in;
}

a:hover {
  color:#00a2f4;
}