@import  "https://fonts.googleapis.com/css?family=Roboto+Slab:700";

.rotate {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    margin: auto;
    display: block;
    margin-top: 100px;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab',serif;
    color: #fff;
    font-size: 100px;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F05),color-stop(1,#FFEF08));
    background-image: -o-linear-gradient(bottom,#F05 0%,#FFEF08 100%);
    background-image: -moz-linear-gradient(bottom,#F05 0%,#FFEF08 100%);
    background-image: -webkit-linear-gradient(bottom,#F05 0%,#FFEF08 100%);
    background-image: -ms-linear-gradient(bottom,#F05 0%,#FFEF08 100%);
    background-image: linear-gradient(to bottom,#F05 0%,#FFEF08 100%);
}
